<table>
  <tr>
    <td><%= Promotion.human_attribute_name("name") %>:</td>
    <td>
      <%= f.text_field :name %>
      <%= f.error_message_on :name %>
    </td>
  </tr>
  <% if @object.new_record? %>
    <tr>
      <td><%= Promotion.human_attribute_name("type") %>:</td>
      <td><%= f.collection_select(:type, @promotion_types, :name, :human_name, {}) %></td>
    </tr>
  <% end %>
  <tr>
    <td><%= Promotion.human_attribute_name("combine") %>:</td>
    <td><%= f.check_box :combine %></td>
  </tr>
  <tr>
    <td><%= Promotion.human_attribute_name("start_at") %>:</td>
    <td><%= f.unobtrusive_date_picker :start_at %></td>
  </tr>
  <tr>
    <td><%= Promotion.human_attribute_name("end_at") %>:</td>
    <td><%= f.unobtrusive_date_picker :end_at %></td>
  </tr>
  <tr>
    <td><%= Promotion.human_attribute_name("promoted_type") %>:</td>
    <td><%= f.collection_select(:promoted_type, @promoted_types, :name, :human_name, {}, {:class => 'promoted_type'}) %></td>
  </tr>
  <tr>
    <td><%= Promotion.human_attribute_name("promoted_name") %>:</td>
    <td>
      <%= f.text_field :promoted_name, :class => "promoted_name" %>
      <%= f.error_message_on :promoted_name %>
    </td>
  </tr>
  <tr>
    <td><%= Promotion.human_attribute_name("description") %>:</td>
    <td><%= f.text_area :description %></td>
  </tr>
</table>

<%= render "admin/shared/calculator_fields", :f => f %>

<% content_for(:head) do %>
  <%= javascript_include_tag('promotions.autocompleter', 'promotions_admin')   %>
  <%= stylesheet_link_tag('autocomplete') %>
<% end %>