<table>
  <tr>
    <td><%= Promotion.human_attribute_name("name") %>:</td>
    <td>
      <%= f.text_field :name %>
      <%= f.error_message_on :name %>
    </td>
  </tr>
  <% if @object.new_record? %>
    <tr>
      <td><%= Promotion.human_attribute_name("type") %>:</td>
      <td><%= collection_select(:promotion, :type, @promotion_types, :name, :human_name, {}) %></td>
    </tr>
  <% end %>
  <tr>
    <td><%= Promotion.human_attribute_name("combine") %>:</td>
    <td><%= f.check_box :combine %></td>
  </tr>
  <tr>
    <td><%= Promotion.human_attribute_name("start_at") %>:</td>
    <td><%= date_select :promotion, :start_at, :prompt => true, :use_month_numbers => true %></td>
  </tr>
  <tr>
    <td><%= Promotion.human_attribute_name("end_at") %>:</td>
    <td><%= date_select :promotion, :end_at, :prompt => true, :use_month_numbers => true %></td>
  </tr>
  <tr>
    <td><%= Promotion.human_attribute_name("zone") %>:</td>
    <td><%= collection_select(:promotion, :zone_id, @available_zones, :id, :name, {}) %></td>
  </tr>
  <tr>
    <td><%= Promotion.human_attribute_name("promoted_type") %>:</td>
    <td><%= collection_select(:promotion, :promoted_type, @promoted_types, :name, :human_name, {}) %></td>
  </tr>
  <tr>
    <td><%= Promotion.human_attribute_name("promoted_name") %>:</td>
    <td>
      <%= f.text_field :promoted_name %>
      <%= f.error_message_on :promoted_name %>
    </td>
  </tr>
  <tr>
    <td><%= Promotion.human_attribute_name("description") %>:</td>
    <td><%= f.text_area :description %></td>
  </tr>
</table>

<%= render "admin/shared/calculator_fields", :f => f %>

<script type="text/javascript">
  $("#promotion_promoted_type").change(function(){
    $('#promotion_promoted_name').attr('value', '')
  })

  update = $(document.createElement('div')).
    attr('class', 'auto_complete').
    attr('id', 'promotion_promoted_name_auto_complete').
    attr('style', 'display:none');
  $('#promotion_promoted_name').after(update);

  jQuery('#promotion_promoted_name').autocomplete({
    frequency: 1.5,
    minChars: 3,
    callback: function(element,entry){ 
      var type = $("#promotion_promoted_type").attr('value')
      return(entry + '&promoted_class=' + type)
    },
    update:'promotion_promoted_name_auto_complete',
    url:'/admin/product_promotions/auto_complete_for_promotion_promoted_name'
  })
  
</script>

<% content_for(:head) do %>
  <%= stylesheet_link_tag('autocomplete') %>
<% end %>