<table>
  <tr>
    <td><%= Promotion.human_attribute_name("name") %>:</td>
    <td>
      <%= f.text_field :name %>
      <%= f.error_message_on :name %>
    </td>
  </tr>
  <tr>
    <td><%= Promotion.human_attribute_name("combine") %>:</td>
    <td><%= f.check_box :combine %></td>
  </tr>
  <tr>
    <td><%= Promotion.human_attribute_name("start_at") %>:</td>
    <td><%= date_select :promotion, :start_at, :prompt => true, :use_month_numbers => true %></td>
  </tr>
  <tr>
    <td><%= Promotion.human_attribute_name("end_at") %>:</td>
    <td><%= date_select :promotion, :end_at, :prompt => true, :use_month_numbers => true %></td>
  </tr>
  <tr>
    <td><%= Promotion.human_attribute_name("zone") %>:</td>
    <td><%= collection_select(:promotion, :zone_id, @available_zones, :id, :name, {}) %></td>
  </tr>
  <tr>
    <td><%= Promotion.human_attribute_name("description") %>:</td>
    <td><%= f.text_area :description %></td>
  </tr>
</table>

<%= render "admin/shared/calculator_fields", :f => f %>
